@font-face {
  font-family: "Regular";
  src: url(font/SpotifyMixUI-Regular-cc3b1de388efa4cbca6c75cebc24585e.woff2);
}

@font-face {
  font-family: "Variable";
  src: url(https://encore.scdn.co/fonts/SpotifyMixUITitleVariable-8769ccfde3379b7ebcadd9529b49d0cc.woff2);
}

@font-face {
  font-family: "Bold";
  src: url(font/SpotifyMixUI-Bold-4264b799009b1db5c491778b1bc8e5b7.woff2);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.header-section {
  position: fixed;
  width: 100%;
  padding: 16px 16px 8px 16px;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
}
.header-action {
  display: flex;
  gap: 16px;
}
.open-button {
  background-color: #fff;
  width: 93.22px;
  height: 32px;
  font-weight: 600;
  border-radius: 28px;
  border: none;
  font-family: "Bold";
  letter-spacing: -0.01px;
  font-size: 13px;
  margin-top: -4px;
}
.menu-logos {
  display: flex;
  gap: 16px;
}
.desktop-header {
  display: none;
}
@media screen and (min-width: 960px) {
  .header-section {
    display: none;
  }

  .desktop-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #000;
    padding: 8px;
    width: 100%;
    margin: 0px;
    height: 64px;
  }
  .header-logo {
    width: 32px;
    height: 32px;
    margin: 8px 20px 20px 20px;
  }
  .header-nav {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 0px 8px;
  }
  .header-icon img {
    background-color: #1f1f1f;
    justify-content: center;
    align-items: center;
  }
  .header-icon {
    padding: 12px;
    border-radius: 50%;
    border: none;
    background-color: #1f1f1f;
  }
  .search-icon-btn {
    padding: 12px;
    border-radius: 50%;
    border: none;
    background-color: #1f1f1f;
  }
  .icon-btn-search {
    padding: 12px;
    border-radius: 50%;
    border: none;
    background-color: #1f1f1f;
  }
  .horizontal-line {
    background-color: #fff;
    height: 25px;
    width: 1px;
    margin: 12px;
  }
  .header-right {
    font-size: 16px;
    color: #b3b3b3;
    text-decoration: none;
    font-family: "Bold";
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .login-btn {
    background-color: #fff;
    color: #000;
    padding: 8px 32px 9px 32px;
    border-radius: 28px;
    border: none;
    font-family: "Bold";
    cursor: pointer;
    font-size: 16px;
  }
  .install-app-button {
    font-size: 14px;
    font-family: "Bold";
    padding: 0px 16px 0px 0px;
    border: none;
    background-color: #000;
    color: #b3b3b3;
  }
  .header-menu {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0px 0px 2px 0px;
  }

  .header-menu .header-menu-btn {
    background: transparent;
    border: none;
    font-family: "Bold";
    color: #b3b3b3;
    font-size: 16px;
    cursor: pointer;
  }
  .header-menu .header-menu-btn:hover {
    color: #fff;
  }

  .sign-up-button {
    font-size: 14px;
    font-family: "Bold";
    padding: 0px 16px 2px 0px;
    background-color: #000;
    color: #b3b3b3;
    border: none;
  }
  .install-app-button-container {
    padding: 0px 16px 2px 24px;
    display: flex;
    gap: 8px;
    align-items: center;
  }
  .header-user-actions {
    display: flex;
    padding: 0px 0px 0px 12px;
  }
  .icon-btn-search {
    display: none;
  }
}
@media screen and (min-width: 1069px) {
  .icon-btn-search {
    display: block;
  }
  .search-icon-btn {
    display: none;
  }
  .icon-btn-search {
    width: 327px;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px 15px 12px 15px;
    border-radius: 25px;
    height: 48px;
  }
  .header-search {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .header-search input {
    background-color: transparent;
    border: none;
    padding-left: 3px;
    padding-top: 2px;
    min-width: 185px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 51px;
  }
  .header-search input::placeholder {
    font-family: "Regular";
    width: 186px;
    font-size: 16px;
    font-weight: 400;
    color: #b3b3b3;
  }
  .header-search img {
    padding-left: 12px;
    padding-right: 4px;
    border-left: 1px solid #7c7c7c;
  }
}
@media screen and (min-width: 1077px) {
  .header-search input {
    overflow: visible;
    text-overflow: clip;
  }
  .header-search input::placeholder {
    font-family: "Regular";
    width: 210px;
    font-size: 16px;
    font-weight: 400;
    color: #b3b3b3;
  }
  .header-search input {
    min-width: 210px;
  }
  .icon-btn-search {
    width: 336px;
  }
}
@media screen and (min-width: 1214px) {
  .search-icon-btn {
    display: none;
  }
  .icon-btn-search {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 13px;
    width: 470px;
    border-radius: 20px;
  }
  .header-search input {
    padding: 0px 162px 3px 0px;
  }
}
@media screen and (min-width: 1723px) {
  .header-nav {
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    justify-content: center;
  }
}
