@font-face {
  font-family: "Regular";
  src: url(font/SpotifyMixUI-Regular-cc3b1de388efa4cbca6c75cebc24585e.woff2);
}

@font-face {
  font-family: "Variable";
  src: url(https://encore.scdn.co/fonts/SpotifyMixUITitleVariable-8769ccfde3379b7ebcadd9529b49d0cc.woff2);
}

@font-face {
  font-family: "Bold";
  src: url(font/SpotifyMixUI-Bold-4264b799009b1db5c491778b1bc8e5b7.woff2);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.header-section {
  position: fixed;
  width: 100%;
  padding: 16px 16px 8px 16px;
  background-color: #000000;
}
.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #000000;
}
.header-actions {
  display: flex;
  gap: 16px;
}
.open-button {
  background-color: #fff;
  width: 93.22px;
  height: 32px;
  font-weight: 600;
  border-radius: 28px;
  border: none;
  font-family: "Bold";
  letter-spacing: -0.01px;
  font-size: 13px;
  margin-top: -4px;
}
.menu-logos {
  display: flex;
  gap: 16px;
}
@media screen and (min-width: 960px) {
  .header-section {
    display: none;
  }

  .desktop-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #000;
    padding: 8px;
    width: 100%;
    margin: 0px;
    height: 64px;
  }
  .logo {
    width: 32px;
    height: 32px;
    margin: 8px 20px 20px 20px;
  }
  .icon-btns {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 0px 8px;
  }
  .icon-btn img {
    background-color: #1f1f1f;
    justify-content: center;
    align-items: center;
  }
  .icon-btn {
    padding: 12px;
    border-radius: 50%;
    border: none;
    background-color: #1f1f1f;
  }
  .search-icon-btn {
    padding: 12px;
    border-radius: 50%;
    border: none;
    background-color: #1f1f1f;
  }
  .icon-btn-search {
    padding: 12px;
    border-radius: 50%;
    border: none;
    background-color: #1f1f1f;
  }
  .center-section {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #b3b3b3;
    justify-content: space-between;
    text-decoration: none;
    font-family: "Bold";
  }
  .line {
    background-color: #fff;
    height: 25px;
    width: 1px;
    margin:12px;
  }
  .right-section {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 15px;
    justify-content: flex-end;
  }

  .login-btn {
    background-color: #fff;
    color: #000;
    padding: 8px 32px 9px 32px;
    border-radius: 28px;
    border: none;
    font-family: "Bold";
    cursor: pointer;
    font-size: 16px;
  }
  .actions {
    font-size: 14px;
    font-family: "Bold";
    padding: 0px 16px 0px 0px;
    border: none;
    background-color: #000;
    color: #b3b3b3;
  }
  .center {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0px 0px 2px 0px;
  }

  .center button {
    background: transparent;
    border: none;
    font-family: "Bold";
    color: #b3b3b3;
    font-size: 16px;
    cursor: pointer;
  }
  .center button:hover {
    color: #fff;
  }

  .action {
    font-size: 14px;
    font-family: "Bold";
    padding: 0px 16px 2px 0px;
    background-color: #000;
    color: #b3b3b3;
    border: none;
  }
  .install-part {
    padding: 0px 16px 2px 24px;
    display: flex;
    gap: 8px;
    align-items: center;
  }
  .all {
    display: flex;
    padding: 0px 0px 0px 12px;
  }
  .icon-btn-search {
    display: none;
  }
}
@media screen and (min-width: 1069px){
  .icon-btn-search{
    display:block;
  }
  .search-icon-btn{
    display:none;
  }
  .icon-btn-search {
    flex: 1;
    width: 327px;
    display: flex;
    align-items: center;
    gap: 6px;
    background: #1f1f1f;
    padding: 8px 15px;
    border-radius: 25px;
    height:49px;
  }
  .search {
    color: #b3b3b3;
    padding: 8px 41px 11px 3px;
    font-size: 16px;
    font-family: "Regular";
  }
  .search-icon-btn {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .search-icon-btn {
    display: none;
  }
}
