@font-face {
    font-family:"Regular";
    src:url(font/SpotifyMixUI-Regular-cc3b1de388efa4cbca6c75cebc24585e.woff2);
}
@font-face {
    font-family:'Variable';
    src:url(https://encore.scdn.co/fonts/SpotifyMixUITitleVariable-8769ccfde3379b7ebcadd9529b49d0cc.woff2);
}
@font-face {
    font-family: "Bold";
    src:url(font/SpotifyMixUI-Bold-4264b799009b1db5c491778b1bc8e5b7.woff2);
}
* {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body{
    overflow-x: hidden;
    background-color: black;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    padding: 15px 20px;
    z-index: 999;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header .logo img {
    width: 30px;
}

.open-app {
    background: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}

.menu {
    font-size: 26px;
    cursor: pointer;
}
